//- index.jade
extends ./layout

block content
  header
    nav.light-blue.darken-1
      div.container
        div.row
          div.col.s12
            a(href='/').brand-logo
              span phina.js
            a.button-collapse(data-activates="nav-mobile")
              i.material-icons menu
            ul#nav.right.hide-on-med-and-down
              li
                a(href='http://phiary.me', target='_blank') Blog
              li
                a(href='https://twitter.com', target='_blank') Twitter
              li
                a(href='https://github.com/phi-jp', target='_blank') Github
              li
                a(href='phi1618jp@gmail.com', target='_blank') Contact
            ul#nav-mobile.side-nav
              li
                a(href='http://phiary.me', target='_blank') Blog
              li
                a(href='https://twitter.com', target='_blank') Twitter
              li
                a(href='https://github.com/phi-jp', target='_blank') Github
              li
                a(href='phi1618jp@gmail.com', target='_blank') Contact

    script.
      $(".button-collapse").sideNav();

  section.light-blue.lighten-5
    div.container.center
      br
      br
      h1 Phifolio
      p phi + portfolio
      br
      br

  section
    nav.white.blue-text
      div.container
        div.row
          div.col
            ul
              li
                a.blue-text About
              li
                a.blue-text Product
              li
                a.blue-text Library
              li
                a.blue-text Plugin

  div.container
    br
    div.row
      div.col.s12.m6.l4
        div.card
          div.card-image
            img(src='https://www.evernote.com/l/AOKB6UL3yfxI14atlao76jL44-fD7GqztM8B/image.png')
            span.card-title About
          div.card-content
            p Text Text Text Text Text 
      div.col.s12.m6.l4
        div.card
          div.card-image
            img(src='https://www.evernote.com/l/AOKB6UL3yfxI14atlao76jL44-fD7GqztM8B/image.png')
            span.card-title phina.js
          div.card-content
            p Text Text Text Text Text 
      div.col.s12.m6.l4
        div.card
          div.card-image
            img(src='https://www.evernote.com/l/AOKB6UL3yfxI14atlao76jL44-fD7GqztM8B/image.png')
            span.card-title Runstant
          div.card-content
            p Text Text Text Text Text 
