//- index.jade
extends ./layout

block content
  header
    nav.light-blue.darken-1
      div.container
        div.row
          div.col.s12
            a(href='/').brand-logo
              span Phifolio
            a.button-collapse(data-activates="nav-mobile")
              i.material-icons menu
            ul#nav.right.hide-on-med-and-down
              li
                a(href='http://phiary.me', target='_blank') Blog
              li
                a(href='https://twitter.com', target='_blank') Twitter
              li
                a(href='https://github.com/phi-jp', target='_blank') Github
              li
                a(href='phi1618jp@gmail.com', target='_blank') Contact
            ul#nav-mobile.side-nav
              li
                a(href='http://phiary.me', target='_blank') Blog
              li
                a(href='https://twitter.com', target='_blank') Twitter
              li
                a(href='https://github.com/phi-jp', target='_blank') Github
              li
                a(href='phi1618jp@gmail.com', target='_blank') Contact

    script.
      $(".button-collapse").sideNav();

  section.light-blue.lighten-5
    div.container.center
      br
      br
      h1 Phifolio
      p phi + portfolio
      br
      br
  div#app
    section
      nav.white.blue-text
        div.nav-wrapper
          div.container
            div.input-field
              input#search(type='search', v-model='query')
              label(for='search')
                i.blue-text.material-icons search

    div.container.main
      br
      div.tags
        a.chip(v-for='tag in tags', :class='{active: tag.active}', v-on:click='toggleTag(tag)') {{tag.name}}
      br
      div.row
        div.col.s12.m6.l4(v-for='item in items | hoge', transition="staggered", v-if='item.visible !== false')
          div.card.item
            div.card-image
              a.cover(href='{{item.url}}', target='_blank' style="background-image: url('{{item.img}}')")
            div.card-content
              span.card-title {{item.name}}

              div.card-chips
                span.chip.small(v-for='tag in item.tags', href='#')
                  span(v-on:click='activeTag(tag)') {{tag}}
              p {{item.description}}


  script(src='scripts/main.js')
